
@{
	ViewData["Title"] = "О сайте";
}
<h1>О сайте</h1>
<span>Сайт написан при помощи фреймворка ASP .NET</span>
<br />
<span>В базе данных имеется 4 таблицы:</span>
<ul>
	<li>Клиенты</li>
	<li>Рестораны</li>
	<li>Курьеры</li>
	<li>Заказы</li>
</ul>