
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <a asp-controller="Clients" asp-action="Index">Клиенты</a>
    <a asp-controller="Couriers" asp-action="Index">Курьеры</a>
    <a asp-controller="Restaurants" asp-action="Index">Рестораны</a>
    <a asp-controller="Orders" asp-action="Index">Заказы</a>
</div>
